#search.outer
  .inner
    %h2.content(align="center") What do you feel like tonight?
    #box
      = select_tag(:category, options_for_select(categories_for_select), class: 'search-box')
#map
#results
  #selection
  #list
%script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLlFOiBK4ncqm_t4-QPo_-VmhD84MNhHc&callback=initMap" async defer)
